In [1]:
import pandas as pd 
import os 
import numpy as np

In [6]:
df_test = pd.read_csv(os.path.join('/legodata/zhaoj/shared_with_mat/exom/merged_fr_results.csv'))
print(len(df_test))
df_test.head()

2068

,GRID,GENDER,Original_RACE,DOB,AGE,FIRST_CVD_DATE,BASELINE,CLASS,RACE,MISSING_SYSTOLIC,RECENT_SYSTOLIC,RECENT_DIASTOLIC,RECENT_VALUE_Chol,RECENT_VALUE_HDL-C,HTN_DRUG_CNT,T2DM_CNT,Smoking,frs,risk,predict
0,R284079120,M,B,1965-10-07,53,0,2018-07-01 00:00:00.000000,0,B,1,130.0,80.0,175.0,46.5,1,0,0,19.509900,0.074591,0.0
1,R297178616,F,B,1931-12-07,75,2007-01-09,2006-07-09 00:00:00.000000,1,B,1,137.0,70.0,173.5,56.0,0,1,11,89.488560,0.496634,1.0
2,R250345950,F,B,1966-06-22,52,0,2018-07-01 00:00:00.000000,0,B,0,117.0,72.0,192.0,53.0,1,0,0,86.108723,0.023104,0.0
3,R209709057,M,B,1960-02-02,58,0,2018-07-01 00:00:00.000000,0,B,0,170.0,82.0,176.0,57.0,1,0,0,20.185693,0.141332,1.0
4,R276122075,F,B,1970-01-31,48,0,2018-07-01 00:00:00.000000,0,B,0,116.0,69.0,229.0,87.0,1,0,0,85.105249,0.008533,0.0

In [12]:
# /legodata/zhaoj/cvd_risk_time2/data_1_8/for_framingham/processed
data_path = '/legodata/zhaoj/cvd_risk_time2/data_1_8/'
df_fram = pd.read_csv(os.path.join('/legodata/zhaoj/cvd_risk_time2/data_1_8/for_framingham/processed', 'merged_framingham.csv'))
print(len(df_fram))
df_fram.head()

170658

,GRID,GENDER,Original_RACE,DOB,FIRST_CVD_DATE,BASELINE,AGE,FIRST_VISIT,LAST_VISIT,DURATION_BF_BASELINE,...,RECENT_VALUE_HDL-C,HTN_DRUG_CNT,T2DM_CNT,Smoking,VISITS_CNT,PHECODES_CNT,CLASS,frs,risk,predict
0,R290108078,M,W,1949,2008-06-01,2007-12-01 00:00:00.000000,58,1999-12-26 00:00:00.000000,2017-04-29 15:30:00.000000,2897,...,42.0,0,0,1,1,1,0,61.692284,0.159619,1.0
1,R240692237,M,W,1932,2017-03-07,2016-09-07 00:00:00.000000,84,2011-05-10 00:00:00.000000,2017-05-23 10:15:00.000000,1947,...,46.0,1,0,0,102,37,0,63.189230,0.540212,1.0
2,R277435259,F,W,1951,2014-02-02,2013-08-02 00:00:00.000000,62,2006-04-06 00:00:00.000000,2016-10-18 11:24:00.000000,2675,...,56.0,1,0,0,41,13,1,-28.393660,0.062445,0.0
3,R269880338,F,W,1956,2017-04-04,2016-10-04 00:00:00.000000,60,1991-10-14 12:01:01.000000,2017-04-18 06:15:00.000000,9121,...,81.0,1,0,1,43,43,0,-28.563913,0.052933,0.0
4,R272530184,M,W,1965,2016-09-07,2016-03-07 00:00:00.000000,51,2004-06-26 00:00:00.000000,2017-04-18 09:39:00.000000,4272,...,63.0,1,0,0,23,19,0,60.505905,0.051711,0.0

In [15]:
pd.concat([df_fram, df_test])

,AGE,BASELINE,CLASS,DOB,DURATION_BF_BASELINE,FIRST_CVD_DATE,FIRST_VISIT,GENDER,GRID,HTN_DRUG_CNT,...,RECENT_DIASTOLIC,RECENT_SYSTOLIC,RECENT_VALUE_Chol,RECENT_VALUE_HDL-C,Smoking,T2DM_CNT,VISITS_CNT,frs,predict,risk
0,58,2007-12-01 00:00:00.000000,0,1949,2897.0,2008-06-01,1999-12-26 00:00:00.000000,M,R290108078,0,...,77.0,127.0,175.0,42.0,1,0,1.0,61.692284,1.0,0.159619
1,84,2016-09-07 00:00:00.000000,0,1932,1947.0,2017-03-07,2011-05-10 00:00:00.000000,M,R240692237,1,...,71.0,135.0,203.0,46.0,0,0,102.0,63.189230,1.0,0.540212
2,62,2013-08-02 00:00:00.000000,1,1951,2675.0,2014-02-02,2006-04-06 00:00:00.000000,F,R277435259,1,...,89.0,149.0,198.0,56.0,0,0,41.0,-28.393660,0.0,0.062445
3,60,2016-10-04 00:00:00.000000,0,1956,9121.0,2017-04-04,1991-10-14 12:01:01.000000,F,R269880338,1,...,70.0,108.0,252.0,81.0,1,0,43.0,-28.563913,0.0,0.052933
4,51,2016-03-07 00:00:00.000000,0,1965,4272.0,2016-09-07,2004-06-26 00:00:00.000000,M,R272530184,1,...,79.0,126.0,242.0,63.0,0,0,23.0,60.505905,0.0,0.051711
5,72,2013-09-23 00:00:00.000000,0,1941,3937.0,2014-03-23,2002-12-13 00:00:00.000000,F,R220222075,1,...,71.0,136.0,186.0,53.0,1,0,5.0,-27.017926,1.0,0.225247
6,59,1999-02-24 00:00:00.000000,0,1940,2548.0,1999-08-24,1992-03-03 12:01:01.000000,F,R237127627,0,...,73.0,126.0,201.0,56.0,0,0,1.0,-29.340781,0.0,0.024699
7,57,2006-02-16 00:00:00.000000,0,1949,4001.0,2006-08-16,1995-03-05 00:00:00.000000,M,R209142093,1,...,78.0,126.0,178.0,42.0,0,0,0.0,61.074949,1.0,0.089534
8,57,2003-12-11 00:00:00.000000,0,1946,1957.0,2004-06-11,1998-08-01 12:01:01.000000,F,R244074500,0,...,78.0,130.0,189.0,53.0,1,0,2.0,87.150745,1.0,0.137268
9,52,2012-11-27 00:00:00.000000,0,1960,2244.0,2013-05-27,2006-10-06 00:00:00.000000,F,R247495396,1,...,77.0,156.0,201.0,56.0,1,0,16.0,-28.318622,0.0,0.067144
10,39,2005-04-11 00:00:00.000000,0,1966,3205.0,2005-10-11,1996-07-01 16:00:00.000000,M,R265825077,0,...,80.0,128.0,149.0,67.0,0,0,1.0,18.043008,0.0,0.031625
11,61,2014-05-26 00:00:00.000000,0,1953,5885.0,2014-11-26,1998-04-15 00:00:00.000000,F,R238362733,1,...,68.0,112.0,139.0,75.0,1,0,11.0,-28.794854,0.0,0.042252
12,65,2015-11-26 00:00:00.000000,0,1950,1933.0,2016-05-26,2010-08-11 00:00:00.000000,M,R272583636,1,...,66.0,106.0,169.0,43.0,0,1,8.0,62.046700,1.0,0.219537
13,52,2012-02-08 00:00:00.000000,0,1960,4109.0,2012-08-08,2000-11-08 00:00:00.000000,F,R230078332,1,...,82.0,124.0,201.0,56.0,0,0,25.0,-29.777312,0.0,0.016033
14,74,2012-12-25 00:00:00.000000,0,1938,2485.0,2013-06-25,2006-03-07 00:00:00.000000,M,R262951449,0,...,70.0,128.0,159.0,43.0,0,0,0.0,62.235257,1.0,0.258665
15,62,2006-01-13 00:00:00.000000,0,1944,2057.0,2006-07-13,2000-05-27 00:00:00.000000,F,R229340910,0,...,72.0,127.0,198.0,56.0,0,0,1.0,-29.016554,0.0,0.033995
16,56,2017-02-13 00:00:00.000000,0,1961,8008.0,2017-08-13,1995-10-15 12:01:01.000000,M,R266381978,1,...,71.0,116.0,178.0,42.0,0,0,9.0,60.835170,0.0,0.071143
17,49,2007-11-28 00:00:00.000000,0,1958,3171.0,2008-05-28,1999-03-23 12:01:01.000000,F,R273277012,1,...,80.0,130.0,190.0,54.0,0,0,3.0,86.266881,0.0,0.059183
18,71,2016-07-22 00:00:00.000000,0,1945,4622.0,2017-01-22,2003-11-26 00:00:00.000000,M,R291490078,1,...,72.0,128.0,161.0,43.0,1,0,61.0,62.865219,1.0,0.429905
19,43,2007-10-03 00:00:00.000000,0,1964,3706.0,2008-04-03,1997-08-10 00:00:00.000000,M,R216326321,1,...,80.0,140.0,86.0,33.0,0,0,17.0,58.801068,0.0,0.009607
20,57,2000-09-03 00:00:00.000000,0,1943,3215.0,2001-03-03,1991-11-15 00:00:00.000000,F,R205360450,1,...,74.0,124.0,200.0,56.0,0,0,2.0,-29.285695,0.0,0.026079
21,44,2011-04-29 00:00:00.000000,0,1967,3560.0,2011-10-29,2001-07-30 00:00:00.000000,F,R248379834,1,...,74.0,120.0,194.0,54.0,0,0,4.0,-30.537304,0.0,0.007530
22,55,2010-05-05 00:00:00.000000,0,1955,1989.0,2010-11-05,2004-11-23 00:00:00.000000,M,R267684399,1,...,80.0,116.0,178.0,43.0,1,0,6.0,61.412143,1.0,0.123144
23,51,2007-01-03 00:00:00.000000,1,1956,2934.0,2007-07-03,1998-12-22 00:00:00.000000,M,R271014421,1,...,79.0,126.0,185.0,42.0,0,0,2.0,60.555128,0.0,0.054248
24,69,2010-10-12 00:00:00.000000,0,1941,5507.0,2011-04-12,1995-09-14 00:00:00.000000,F,R247584598,1,...,79.0,140.0,190.0,31.0,0,0,17.0,-27.614264,1.0,0.131143
25,58,2015-09-29 00:00:00.000000,0,1957,7511.0,2016-03-29,1995-03-06 12:15:00.000000,M,R255636737,1,...,89.0,140.0,171.0,50.0,1,0,38.0,61.862599,1.0,0.186321
26,60,2016-05-14 00:00:00.000000,0,1956,3829.0,2016-11-14,2006-06-06 00:00:00.000000,F,R211017805,1,...,63.0,128.0,199.0,56.0,1,0,9.0,-28.154677,1.0,0.078624
27,60,2011-12-13 00:00:00.000000,1,1951,3447.0,2012-06-13,2002-07-06 00:00:00.000000,F,R252267778,1,...,73.0,126.0,199.0,56.0,0,0,38.0,-28.943389,0.0,0.036528
28,65,2006-01-11 00:00:00.000000,0,1941,1897.0,2006-07-11,2000-11-01 00:00:00.000000,F,R282346280,0,...,72.0,128.0,196.0,56.0,0,0,0.0,-28.678110,0.0,0.047359
29,86,2012-10-15 00:00:00.000000,0,1926,2781.0,2013-04-15,2005-03-05 00:00:00.000000,F,R293952711,1,...,82.0,146.0,183.0,50.5,0,0,2.0,-25.732273,1.0,0.602717
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2038,67,2000-09-05 00:00:00.000000,1,1933-04-16,NaN,2001-03-05,NaN,M,R261035502,1,...,77.0,132.0,160.0,46.0,0,0,NaN,20.094144,1.0,0.129809
2039,37,2018-07-01 00:00:00.000000,0,1981-08-22,NaN,0,NaN,F,R226033204,0,...,74.0,130.0,179.0,51.0,0,0,NaN,84.245131,0.0,0.003619
2040,39,2018-07-01 00:00:00.000000,0,1979-05-27,NaN,0,NaN,F,R204384042,1,...,97.0,122.0,212.0,65.0,0,0,NaN,84.703204,0.0,0.005716
2041,79,2012-01-08 00:00:00.000000,1,1932-08-20,NaN,2012-07-08,NaN,F,R233860551,1,...,85.0,157.0,179.0,57.0,0,0,NaN,88.215558,1.0,0.174855
2042,61,2006-06-08 00:00:00.000000,1,1945-10-15,NaN,2006-12-08,NaN,M,R204580638,0,...,76.0,128.0,172.0,43.0,0,0,NaN,61.244724,1.0,0.125447
2043,49,2018-07-01 00:00:00.000000,0,1969-03-28,NaN,0,NaN,F,R248285979,1,...,91.0,138.0,199.0,55.0,0,0,NaN,-29.829093,0.0,0.011299
2044,74,2018-07-01 00:00:00.000000,0,1944-11-16,NaN,0,NaN,M,R250265545,1,...,52.0,106.0,150.0,46.0,0,0,NaN,19.899705,1.0,0.108164
2045,50,2018-07-01 00:00:00.000000,0,1968-03-17,NaN,0,NaN,F,R254209784,1,...,79.0,129.0,188.0,54.0,0,0,NaN,86.298926,0.0,0.027876
2046,41,2018-07-01 00:00:00.000000,0,1977-01-22,NaN,0,NaN,F,R271112703,1,...,84.0,132.0,162.0,62.0,80,1,NaN,86.794750,0.0,0.045358
2047,53,2018-07-01 00:00:00.000000,0,1965-08-13,NaN,0,NaN,M,R225879016,1,...,70.0,140.0,157.0,43.0,0,0,NaN,19.643135,1.0,0.084759
2048,62,2018-07-01 00:00:00.000000,0,1956-03-24,NaN,0,NaN,M,R266611507,1,...,78.0,134.0,170.0,45.0,0,0,NaN,19.956522,1.0,0.114113
2049,83,2018-07-01 00:00:00.000000,0,1935-07-13,NaN,0,NaN,M,R207230892,1,...,68.0,129.0,153.0,44.0,0,0,NaN,63.032833,1.0,0.551266
2050,19,2018-07-01 00:00:00.000000,0,1999-11-26,NaN,0,NaN,F,R207240729,0,...,68.0,108.0,137.0,42.0,0,0,NaN,-30.824431,0.0,0.004191
2051,76,2018-07-01 00:00:00.000000,0,1942-01-30,NaN,0,NaN,F,R251683433,1,...,73.0,133.0,187.0,56.0,0,0,NaN,-27.054852,1.0,0.166494
2052,31,2018-07-01 00:00:00.000000,0,1987-01-14,NaN,0,NaN,M,R265580656,1,...,76.0,98.0,159.0,48.0,0,0,NaN,56.924570,0.0,0.001781
2053,60,2012-11-30 00:00:00.000000,1,1952-08-12,NaN,2013-05-31,NaN,M,R279345832,1,...,74.0,132.0,169.0,58.0,35,1,NaN,62.481580,1.0,0.369818
2054,57,2018-07-01 00:00:00.000000,0,1961-04-07,NaN,0,NaN,M,R222895541,1,...,85.0,117.0,171.0,45.0,0,0,NaN,19.490756,0.0,0.073230
2055,53,2018-07-01 00:00:00.000000,0,1965-02-23,NaN,0,NaN,F,R288175746,1,...,69.0,155.0,201.0,57.0,0,0,NaN,-29.249608,0.0,0.020081
2056,42,2018-07-01 00:00:00.000000,0,1976-08-21,NaN,0,NaN,M,R223257250,0,...,80.0,129.0,177.5,44.0,0,0,NaN,18.422010,0.0,0.025780
2057,65,2000-11-09 00:00:00.000000,1,1935-07-03,NaN,2001-05-09,NaN,F,R240800533,1,...,74.0,132.0,187.0,54.0,3,1,NaN,88.887462,1.0,0.313612
2058,55,2008-08-08 00:00:00.000000,1,1953-08-09,NaN,2009-02-08,NaN,F,R204711689,0,...,78.0,130.0,193.0,99.0,1,1,NaN,87.240007,0.0,0.069892
2059,63,2007-04-16 00:00:00.000000,1,1944-09-19,NaN,2007-10-16,NaN,M,R292013184,0,...,75.0,128.0,170.0,43.0,0,0,NaN,61.405670,1.0,0.145680
2060,64,2007-12-01 00:00:00.000000,1,1943-10-18,NaN,2008-06-01,NaN,F,R252945562,1,...,76.0,110.0,255.0,63.0,0,0,NaN,-28.695646,0.0,0.034683
2061,34,2018-07-01 00:00:00.000000,0,1984-08-29,NaN,0,NaN,F,R280911096,1,...,62.0,122.0,174.0,52.0,0,0,NaN,84.546504,0.0,0.004889
2062,40,2018-07-01 00:00:00.000000,0,1978-10-29,NaN,0,NaN,M,R260596076,1,...,73.0,108.0,223.0,44.0,0,0,NaN,18.550026,0.0,0.029249
2063,21,2018-07-01 00:00:00.000000,0,1997-07-02,NaN,0,NaN,M,R281722005,0,...,67.0,112.0,154.0,45.0,0,0,NaN,54.841807,0.0,0.000222
2064,32,2018-07-01 00:00:00.000000,0,1986-07-03,NaN,0,NaN,F,R250416196,1,...,56.0,100.0,183.0,56.0,1,1,NaN,-29.260804,0.0,0.019859
2065,40,2018-07-01 00:00:00.000000,0,1978-10-17,NaN,0,NaN,M,R291158148,0,...,58.0,108.0,177.0,44.0,0,0,NaN,17.979270,0.0,0.016635
2066,67,2012-10-10 00:00:00.000000,1,1946-01-31,NaN,2013-04-10,NaN,F,R246919470,1,...,72.0,138.0,181.0,53.0,8,1,NaN,89.066451,1.0,0.362418
2067,31,2018-07-01 00:00:00.000000,0,1987-03-12,NaN,0,NaN,F,R290991040,1,...,76.0,120.0,173.0,52.0,0,0,NaN,84.062097,0.0,0.003015

In [2]:
# df_exome_blood = pd.read_csv(os.path.join('/legodata/exome/processed/', 'TW_Whole_Blood.Predixcan.gz.csv'))
# df_exome_liver = pd.read_csv(os.path.join('/legodata/exome/processed/', 'TW_Liver.Predixcan.gz.csv'))

df_exome = pd.read_csv(os.path.join('/legodata/exome/processed/', 'TW_Liver.Predixcan.gz.csv'))
print(len(df_exome))
df_exome.head()

30102

,grid,XRN1,PRR4,GSTM2,LDHC,CCDC92,EPDR1,HLA-DQA1,SPSB2,C6orf99,...,PCDHB6,LILRA6,LCN2,PSPN,AC016757.3,CNKSR1,CAPN2,USP25,CECR1,AES
0,R270104447,0.136576,1.203568,-0.204410,-0.359435,0.393855,-0.000379,-0.386073,0.634121,0.416939,...,0.020563,-0.548005,-0.254337,0.035117,1.031070,0.124065,-0.403754,0.361587,0.102803,-0.242840
1,R201592358,0.038341,1.092817,-0.107074,-0.408286,0.157872,-0.000043,-0.395359,0.541744,0.150965,...,0.035526,-0.649687,0.683181,0.084650,1.250750,0.198797,-0.476422,0.159239,0.026876,-0.083265
2,R252390356,0.125282,0.224406,-0.332340,0.798614,0.165948,-0.064303,-0.167060,0.541555,0.464377,...,0.041126,-0.563880,-0.251291,-0.027117,0.674781,-0.353125,-0.000341,0.313991,-0.123148,-0.350061
3,R240087936,-0.148581,1.510166,-0.076793,-0.358529,0.588525,-0.000016,-0.362559,0.094758,0.221687,...,0.035133,-0.454365,0.262706,0.002144,0.387596,0.099398,-0.025494,0.313669,0.173935,-0.166621
4,R276462284,-0.179592,0.726043,-0.092377,0.484049,0.740088,0.000660,-0.006998,0.087264,0.445944,...,0.041112,-0.944570,0.363536,0.105681,1.439733,-0.479336,0.102373,0.305453,-0.130970,-0.512268

In [5]:
df_cvd = pd.read_csv(os.path.join('/legodata/zhaoj/cvd_risk_time2/data/processed', 'exom_cvd.csv'))
df_fram = pd.read_csv(os.path.join('/legodata/zhaoj/cvd_risk_time2/genetic_data/for_framingham/processed/merged_fr_results.csv'))

In [12]:
df_exome_cohort = df_exome.merge(df_fram[['predict', 'GRID']], how='inner', right_on='GRID', left_on='grid') 
print(len(df_exome_cohort))
df_exome_cohort.head()

26272

,grid,XRN1,PRR4,GSTM2,LDHC,CCDC92,EPDR1,HLA-DQA1,SPSB2,C6orf99,...,PSPN,AC016757.3,CNKSR1,CAPN2,USP25,CECR1,AES,CLASS,predict,GRID
0,R263024065,-0.549730,0.902886,-0.093389,-0.033464,0.022397,-0.253522,-0.031739,0.628266,0.204816,...,0.052290,1.079425,0.099398,-0.347647,0.194542,0.393165,-0.389256,0,1.0,R263024065
1,R289938179,-0.146533,1.067191,-0.121218,0.769779,-0.278386,-0.238114,-0.236102,0.151083,0.264438,...,-0.123799,0.379775,0.040923,-0.153520,0.294498,-0.056937,-0.372612,1,1.0,R289938179
2,R231349956,-0.257337,0.990877,-0.161597,-0.082406,0.682468,-0.064242,-0.410131,0.516610,0.396535,...,-0.018763,0.626923,0.124065,-0.068935,0.183081,0.482673,-0.344518,0,0.0,R231349956
3,R239874446,-0.611755,0.689457,-0.131910,0.457643,0.966448,0.000087,-0.000813,0.140378,0.446854,...,0.070862,0.266183,0.085055,-0.444999,0.166607,-0.029794,-0.559107,0,0.0,R239874446
4,R218688872,-0.410340,0.224427,-0.080369,0.791819,0.410780,-0.244797,-0.378919,0.696643,0.479404,...,0.025869,0.275976,0.198797,-0.092023,-0.302957,0.205987,-0.162056,1,0.0,R218688872

In [21]:
df_missing_frs = pd.Series(list(set(df_exome['grid']) - set(df_exome_cohort['grid'])))
print(len(df_missing_frs))
df_missing_frs.head()

3830

0    R252862108
1    R293700717
2    R220831607
3    R283562038
4    R278065720
dtype: object

In [22]:
df_missing_frs.to_csv('/legodata/exome/missing_frs.csv', index=False)

In [13]:
unique_case_lst = set(df_cvd['GRID'])
len(unique_case_lst)

13390

In [10]:
df_exome_cohort = df_exome
df_exome_cohort['CLASS'] = np.where(df_exome_cohort['grid'].isin(unique_case_lst), 1, 0)
df_exome_cohort.head()

,grid,XRN1,PRR4,GSTM2,LDHC,CCDC92,EPDR1,HLA-DQA1,SPSB2,C6orf99,...,LILRA6,LCN2,PSPN,AC016757.3,CNKSR1,CAPN2,USP25,CECR1,AES,CLASS
0,R270104447,0.136576,1.203568,-0.204410,-0.359435,0.393855,-0.000379,-0.386073,0.634121,0.416939,...,-0.548005,-0.254337,0.035117,1.031070,0.124065,-0.403754,0.361587,0.102803,-0.242840,0
1,R201592358,0.038341,1.092817,-0.107074,-0.408286,0.157872,-0.000043,-0.395359,0.541744,0.150965,...,-0.649687,0.683181,0.084650,1.250750,0.198797,-0.476422,0.159239,0.026876,-0.083265,0
2,R252390356,0.125282,0.224406,-0.332340,0.798614,0.165948,-0.064303,-0.167060,0.541555,0.464377,...,-0.563880,-0.251291,-0.027117,0.674781,-0.353125,-0.000341,0.313991,-0.123148,-0.350061,1
3,R240087936,-0.148581,1.510166,-0.076793,-0.358529,0.588525,-0.000016,-0.362559,0.094758,0.221687,...,-0.454365,0.262706,0.002144,0.387596,0.099398,-0.025494,0.313669,0.173935,-0.166621,1
4,R276462284,-0.179592,0.726043,-0.092377,0.484049,0.740088,0.000660,-0.006998,0.087264,0.445944,...,-0.944570,0.363536,0.105681,1.439733,-0.479336,0.102373,0.305453,-0.130970,-0.512268,0

In [ ]:
df_exome_cohort.to_csv('/legodata/exome/cvd_merged/TW_Liver.csv', index=False)

In [ ]:
df_exome_cohort

In [ ]:
df_exome_cohort.loc[df_exome_cohort['CLASS'] == 1]