In [1]:
import pandas as pd
import os 

data_path = '/legodata/zhaoj/cvd_risk_time2/data_1_8/processed/'

df_merged_full_cohort = pd.read_csv('/legodata/zhaoj/cvd_risk_time2/data/processed/aggregate/df_merged_impute_final_0.csv')
df_fram_full_cohort = pd.read_csv('/legodata/zhaoj/cvd_risk_time2/data_1_8/for_framingham/processed/merged_framingham.csv')

In [2]:
df_merged_full_cohort = df_merged_full_cohort.rename(columns={'Unnamed: 0': 'GRID'})
df_merged_full_cohort.head()

,GRID,GENDER,AGE_AT_BASELINE,DURATION_BF_BASELINE,RACE_B,RACE_U,RACE_W,SMOKING,MIN_BMI,MAX_BMI,...,"missing_('WBCCnt', 'MAX_VALUE')_True","missing_('WBCrt', 'MAX_VALUE')_True","missing_('eGFR', 'MAX_VALUE')_True","missing_('pC02-V', 'MAX_VALUE')_True","missing_('pH', 'MAX_VALUE')_True","missing_('pH-Ven', 'MAX_VALUE')_True","missing_('pO2-V', 'MAX_VALUE')_True","missing_('sn', 'MAX_VALUE')_True",missing_BMI_True,missing_bp_True
0,R200000399,1,48,5623,1,0,0,1,0.000000,0.000000,...,1,1,1,1,1,1,1,1,1,0
1,R200000649,0,45,2050,1,0,0,1,27.181169,36.967560,...,1,1,1,1,1,1,1,1,0,0
2,R200001457,1,28,3925,0,0,1,0,0.000000,0.000000,...,1,1,1,1,1,1,1,1,1,1
3,R200003102,1,72,7242,0,0,1,1,23.000290,24.782866,...,1,1,1,1,1,1,1,1,0,0
4,R200003265,0,65,4064,0,0,1,0,0.000000,0.000000,...,1,1,1,1,1,1,1,1,1,1

In [3]:
df_fram_full_cohort.head()

,GRID,GENDER,Original_RACE,DOB,FIRST_CVD_DATE,BASELINE,AGE,FIRST_VISIT,LAST_VISIT,DURATION_BF_BASELINE,...,RECENT_VALUE_HDL-C,HTN_DRUG_CNT,T2DM_CNT,Smoking,VISITS_CNT,PHECODES_CNT,CLASS,frs,risk,predict
0,R290108078,M,W,1949,2008-06-01,2007-12-01 00:00:00.000000,58,1999-12-26 00:00:00.000000,2017-04-29 15:30:00.000000,2897,...,42.0,0,0,1,1,1,0,61.692284,0.159619,1.0
1,R240692237,M,W,1932,2017-03-07,2016-09-07 00:00:00.000000,84,2011-05-10 00:00:00.000000,2017-05-23 10:15:00.000000,1947,...,46.0,1,0,0,102,37,0,63.189230,0.540212,1.0
2,R277435259,F,W,1951,2014-02-02,2013-08-02 00:00:00.000000,62,2006-04-06 00:00:00.000000,2016-10-18 11:24:00.000000,2675,...,56.0,1,0,0,41,13,1,-28.393660,0.062445,0.0
3,R269880338,F,W,1956,2017-04-04,2016-10-04 00:00:00.000000,60,1991-10-14 12:01:01.000000,2017-04-18 06:15:00.000000,9121,...,81.0,1,0,1,43,43,0,-28.563913,0.052933,0.0
4,R272530184,M,W,1965,2016-09-07,2016-03-07 00:00:00.000000,51,2004-06-26 00:00:00.000000,2017-04-18 09:39:00.000000,4272,...,63.0,1,0,0,23,19,0,60.505905,0.051711,0.0

In [4]:
df_merged_full_cohort_fram = df_merged_full_cohort.merge(df_fram_full_cohort[['GRID', 'predict']], how='inner', on='GRID')
df_merged_full_cohort_fram['predict'] = df_merged_full_cohort_fram['predict'].astype('int64')
df_merged_full_cohort_fram.head()

,GRID,GENDER,AGE_AT_BASELINE,DURATION_BF_BASELINE,RACE_B,RACE_U,RACE_W,SMOKING,MIN_BMI,MAX_BMI,...,"missing_('WBCrt', 'MAX_VALUE')_True","missing_('eGFR', 'MAX_VALUE')_True","missing_('pC02-V', 'MAX_VALUE')_True","missing_('pH', 'MAX_VALUE')_True","missing_('pH-Ven', 'MAX_VALUE')_True","missing_('pO2-V', 'MAX_VALUE')_True","missing_('sn', 'MAX_VALUE')_True",missing_BMI_True,missing_bp_True,predict
0,R200000399,1,48,5623,1,0,0,1,0.000000,0.000000,...,1,1,1,1,1,1,1,1,0,0
1,R200000649,0,45,2050,1,0,0,1,27.181169,36.967560,...,1,1,1,1,1,1,1,0,0,1
2,R200001457,1,28,3925,0,0,1,0,0.000000,0.000000,...,1,1,1,1,1,1,1,1,1,0
3,R200003102,1,72,7242,0,0,1,1,23.000290,24.782866,...,1,1,1,1,1,1,1,0,0,1
4,R200003265,0,65,4064,0,0,1,0,0.000000,0.000000,...,1,1,1,1,1,1,1,1,1,1

In [5]:
df_merged_full_cohort_fram.to_csv(os.path.join(data_path, 'df_full_cohort_0.csv'), index=False)

Generate fram low-risk case plus matched controls cohort

In [6]:
df_fram_case_plus_match = pd.read_csv('/legodata/zhaoj/cvd_risk_time2/data_1_8/for_framingham/processed/low_risk_by_fr.csv')
df_fram_case_plus_match

             GRID  CLASS
0      R277435259      1
1      R271014421      1
2      R252267778      1
3      R251171191      1
4      R288805094      1
5      R260829506      1
6      R208427611      1
7      R288974848      1
8      R227563027      1
9      R227747433      1
10     R237111746      1
11     R237384939      1
12     R299682925      1
13     R251823804      1
14     R282474331      1
15     R298685832      1
16     R242422149      1
17     R265755730      1
18     R257476702      1
19     R231811001      1
20     R205979923      1
21     R280483815      1
22     R260958576      1
23     R232065336      1
24     R268444159      1
25     R243603902      1
26     R215421040      1
27     R244930574      1
28     R248750926      1
29     R241319350      1
...           ...    ...
93318  R237931488      0
93319  R251691878      0
93320  R273242951      0
93321  R278302233      0
93322  R287101498      0
93323  R295720423      0
93324  R201153565      0
93325  R205379283      0
93326  R224101865      0
93327  R243889521      0
93328  R252329376      0
93329  R287278031      0
93330  R293911576      0
93331  R294111949      0
93332  R204227084      0
93333  R206657037      0
93334  R223490398      0
93335  R224641642      0
93336  R226278323      0
93337  R236191129      0
93338  R241619757      0
93339  R266649163      0
93340  R225151374      0
93341  R240181794      0
93342  R246146579      0
93343  R252273680      0
93344  R260431904      0
93345  R275634925      0
93346  R278663060      0
93347  R278962797      0

[93348 rows x 2 columns]

In [7]:
df_merged_fram_case_plus_match = df_merged_full_cohort.merge(df_fram_case_plus_match.drop(['CLASS'], axis=1), how='inner', on='GRID') 
df_merged_fram_case_plus_match

,GRID,GENDER,AGE_AT_BASELINE,DURATION_BF_BASELINE,RACE_B,RACE_U,RACE_W,SMOKING,MIN_BMI,MAX_BMI,...,"missing_('WBCCnt', 'MAX_VALUE')_True","missing_('WBCrt', 'MAX_VALUE')_True","missing_('eGFR', 'MAX_VALUE')_True","missing_('pC02-V', 'MAX_VALUE')_True","missing_('pH', 'MAX_VALUE')_True","missing_('pH-Ven', 'MAX_VALUE')_True","missing_('pO2-V', 'MAX_VALUE')_True","missing_('sn', 'MAX_VALUE')_True",missing_BMI_True,missing_bp_True
0,R200000649,0,45,2050,1,0,0,1,27.181169,36.967560,...,1,1,1,1,1,1,1,1,0,0
1,R200001457,1,28,3925,0,0,1,0,0.000000,0.000000,...,1,1,1,1,1,1,1,1,1,1
2,R200004520,0,25,2239,0,0,1,0,0.000000,0.000000,...,1,1,1,1,1,1,1,1,1,1
3,R200005614,0,44,4614,0,0,1,0,29.370526,29.370526,...,1,1,1,1,1,1,1,1,0,0
4,R200006183,0,27,2029,0,0,1,0,0.000000,0.000000,...,1,1,1,1,1,1,1,1,1,1
5,R200007283,1,56,3818,0,0,1,0,0.000000,0.000000,...,1,1,1,1,1,1,1,1,1,1
6,R200007378,1,56,7578,0,0,1,0,0.000000,0.000000,...,1,1,1,1,1,1,1,1,1,1
7,R200007508,1,51,6466,0,0,1,0,0.000000,0.000000,...,1,1,1,1,1,1,1,1,1,1
8,R200012095,1,62,3099,0,0,1,0,39.480426,46.000580,...,1,1,1,1,1,1,1,1,0,0
9,R200012258,1,42,5928,0,0,1,1,24.257050,25.662586,...,1,1,1,1,1,1,1,1,0,0
10,R200014468,1,44,1869,0,0,1,1,0.000000,0.000000,...,1,1,1,1,1,1,1,1,1,1
11,R200016126,1,64,5637,0,0,1,1,23.083542,53.553818,...,1,1,1,1,1,1,1,1,0,0
12,R200017515,0,45,3365,0,0,1,0,0.000000,0.000000,...,1,1,1,1,1,1,1,1,1,1
13,R200017574,1,47,5433,0,0,1,0,29.101308,29.101308,...,1,1,1,1,1,1,1,1,0,0
14,R200019393,1,61,5464,0,0,1,0,0.000000,0.000000,...,1,1,1,1,1,1,1,1,1,1
15,R200020871,1,26,3235,1,0,0,0,44.986512,45.397822,...,1,1,1,1,1,1,1,1,0,0
16,R200021705,0,41,2005,0,0,1,0,22.813515,22.813515,...,1,1,1,1,1,1,1,1,0,0
17,R200023194,1,48,6313,1,0,0,0,0.000000,0.000000,...,1,1,1,1,1,1,1,1,1,1
18,R200024058,1,61,3022,0,0,1,0,0.000000,0.000000,...,1,1,1,1,1,1,1,1,1,1
19,R200025932,0,58,2616,0,0,1,1,0.000000,0.000000,...,1,1,1,1,1,1,1,1,1,1
20,R200027150,1,54,2580,0,0,1,0,23.859301,23.859301,...,1,1,1,1,1,1,1,1,0,0
21,R200027422,1,24,3469,0,0,1,1,0.000000,0.000000,...,1,1,1,1,0,1,1,1,1,0
22,R200027444,1,39,3270,0,0,1,0,0.000000,0.000000,...,1,1,1,1,1,1,1,1,1,1
23,R200029961,1,56,5104,0,0,1,1,0.000000,0.000000,...,1,1,1,1,1,1,1,1,1,1
24,R200030881,1,44,3583,0,0,1,0,23.560516,23.560516,...,1,1,1,1,1,1,1,1,0,0
25,R200030986,1,45,3924,0,0,1,0,0.000000,0.000000,...,1,1,1,1,1,1,1,1,1,1
26,R200033769,0,40,2260,0,0,1,1,28.233965,30.147837,...,1,1,1,1,1,1,1,1,0,0
27,R200034131,1,59,3557,0,0,1,0,0.000000,0.000000,...,1,1,1,1,1,1,1,1,1,1
28,R200035377,1,58,6066,0,0,1,0,0.000000,0.000000,...,1,1,1,1,1,1,1,1,1,1
29,R200035519,1,54,2922,0,0,1,1,0.000000,0.000000,...,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93318,R299975199,1,34,2433,0,0,1,1,0.000000,0.000000,...,1,1,1,1,1,1,1,1,1,1
93319,R299977540,1,57,2882,0,0,1,0,0.000000,0.000000,...,1,1,1,1,1,1,1,1,1,1
93320,R299978318,1,50,5272,0,0,1,0,0.000000,0.000000,...,1,1,1,1,1,1,1,1,1,0
93321,R299979315,0,44,4220,0,0,1,0,0.000000,0.000000,...,1,1,1,1,1,1,1,1,1,1
93322,R299979446,1,29,4395,0,0,1,0,0.000000,0.000000,...,1,1,1,1,1,1,1,1,1,1
93323,R299980178,1,59,3296,0,0,1,0,0.000000,0.000000,...,1,1,1,1,1,1,1,1,1,0
93324,R299980182,1,23,5602,0,0,1,0,0.000000,0.000000,...,1,1,1,1,1,1,1,1,1,1
93325,R299981295,1,56,2634,0,1,0,0,0.000000,0.000000,...,1,1,1,1,1,1,1,1,1,1
93326,R299981595,1,60,3555,0,0,1,0,0.000000,0.000000,...,1,1,1,1,1,1,1,1,1,1
93327,R299981677,0,54,4978,0,0,1,0,0.000000,0.000000,...,1,1,1,1,1,1,1,1,1,1
93328,R299982887,1,52,8032,0,0,1,0,0.000000,0.000000,...,1,1,1,1,1,1,1,1,1,1
93329,R299982949,1,45,2638,0,0,1,0,0.000000,0.000000,...,1,1,1,1,1,1,1,1,1,1
93330,R299983569,1,61,2371,0,0,1,0,0.000000,0.000000,...,1,1,1,1,1,1,1,1,1,1
93331,R299984351,1,27,3125,0,0,1,0,27.278062,27.278062,...,1,1,1,1,1,1,1,1,0,0
93332,R299984484,1,67,2103,0,0,1,0,24.029589,24.029589,...,1,1,1,1,1,1,1,1,0,1
93333,R299985647,1,35,3553,0,0,1,0,33.448292,33.448292,...,1,1,1,1,1,1,1,1,0,0
93334,R299986105,1,60,2690,0,0,1,1,0.000000,0.000000,...,1,1,1,1,1,1,1,1,1,1
93335,R299987206,1,61,8718,0,0,1,0,24.292634,25.532013,...,1,0,1,1,1,1,1,1,0,0
93336,R299987707,1,58,2962,0,0,1,1,0.000000,0.000000,...,1,1,1,1,1,1,1,1,1,1
93337,R299987981,1,57,1934,0,0,1,0,0.000000,0.000000,...,1,1,1,1,1,1,1,1,1,1
93338,R299988927,1,52,3007,0,0,1,0,0.000000,0.000000,...,1,1,1,1,1,1,1,1,1,1
93339,R299988938,1,47,2477,0,0,1,0,30.723816,30.723816,...,1,1,1,1,1,1,1,1,0,0
93340,R299989020,1,44,5599,1,0,0,0,35.117006,35.117006,...,1,1,1,1,1,1,1,1,0,1
93341,R299990992,1,28,2401,1,0,0,0,0.000000,0.000000,...,1,1,1,1,1,1,1,1,1,1
93342,R299996724,0,42,4863,0,0,1,0,23.673925,26.543012,...,1,1,1,0,0,0,0,1,0,0
93343,R299997962,0,49,3057,0,0,1,0,29.015868,29.015868,...,1,1,1,1,1,1,1,1,0,1
93344,R299998148,1,49,2587,0,0,1,0,43.257045,43.257045,...,1,1,1,1,1,1,1,1,0,0
93345,R299998523,1,45,2532,1,0,0,1,0.000000,0.000000,...,1,1,1,1,1,1,1,1,1,1
93346,R299998568,0,52,4820,0,0,1,0,0.000000,0.000000,...,1,1,1,1,1,1,1,1,1,1
93347,R299998841,1,48,3737,0,0,1,0,0.000000,0.000000,...,1,1,1,1,1,1,1,1,1,1

In [8]:
df_merged_fram_case_plus_match.to_csv(os.path.join(data_path, 'df_fram_cohort_0.csv'), index=False)